.sait-bar__nav-icon {
   max-width: 100%;
   height: 24px;
   width: 24px;

}

.sait-bar__nav-box {
   display: flex;
}

.sait-bar__nav-text {
   font-family: 'Inter', sans-serif;
   color: #A2A2A2;
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   line-height: 121%;
   margin-left: 12px;
   flex: auto;
   width: 157px;
}

.text-hiden {
   display: none;
}