.chatAi-audio {
   align-self: flex-end;
   display: flex;
   align-items: center;
   padding: 12px;
   width: 100%;
   height: 100%;
   max-width: 300px;
   min-height: 72px;
   max-height: 72px;
   border-radius: 8px;
   background: #272B30;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   box-sizing: border-box;
}

.chatAi-audio__play {
   background-image: url(../../images/btn-audio.svg);
   background-color: #5865F2;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 12px;
   width: 48px;
   height: 48px;
}

.chatAi-audio__recording {}