.sidebar {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   box-sizing: border-box;
   width: 160px;
   padding: 16px 10px;
   border-radius: 8px;
   background-color: #222;
   transition: all 0.3s; 
}

.sidebar_cropped {
   width: 56px;
}

.sidebar__header {
   display: flex;
}

.sidebar__text-wrapper {
   margin-left: 13px;
   transition: all 0.5s; 
   color: #FFF;
   font-family: 'NT-Somic', sans-serif;
}

.sidebar__text-wrapper_hidden {
   display: none;
}

.sidebar__logo {
   width: 32px;
   height: 32px;
   background: url('../../images/logo.svg') center no-repeat;
}

.sidebar__text {
   font-size: 16px;
   font-weight: 700;
   line-height: 100%;
   letter-spacing: -0.32px;
   margin-bottom: 4px;
   white-space: nowrap;
}

.sidebar__sub-text {
   font-size: 12px;
   font-weight: 400;
   line-height: 100%;
   letter-spacing: -0.24px;
   white-space: nowrap
}

.sidebar__nav {
   margin-top: 24px;
   flex: 1 1 auto;
}

.sidebar__nav-link {
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 6px;

}

.sidebar__nav-link_active {
   background-color: #483458;
   border-radius: 8px;
}

.sidebar__nav-link_active .sidebar__nav__text {
   color: #fff;
}

.sidebar__nav-footer_btn {
   background-color: transparent;
   padding: 0 6px;
   display: flex;
   align-items: center;
}

.sidebar__nav-footer_text {
   color: #A2A2A2;
   font-family: 'Inter', sans-serif;
   font-size: 13px;
   font-weight: 500;
   line-height: 121%;
   margin-left: 12px;
}